.sidebarContainer {
  height: 100%;
  width: 25%;
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sidebarBtn {
  margin-left: auto
}